[project]
	description = A Wireless Application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/manh-pham
[access "refs/for/refs/*"]
	read = group user/manh-pham
	push = group user/manh-pham
	label-Code-Review = -2..+2 group user/manh-pham
	label-Verified = -1..+1 group user/manh-pham
	rebase = group user/manh-pham
	removeReviewer = group user/manh-pham
	submit = group user/manh-pham
[access "refs/heads/*"]
	read = group user/manh-pham
	create = group user/manh-pham
	push = +force group user/manh-pham
	pushMerge = group user/manh-pham
[access "refs/tags/*"]
	push = group user/manh-pham
	push = +force group user/manh-pham
